@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import 'base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

ul {
    list-style-type: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    margin: 0 auto;
    height: 3px;
    width: 100px;
    background-color: $red-color;
}

.title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
}

@import 'blocks/sidebar.scss';
@import 'blocks/carousel.scss';
@import 'blocks/type';
@import 'blocks/fonts';
@import 'blocks/about';
@import 'blocks/footer';
@import 'blocks/mobile';
@import 'blocks/media';