.about {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $black-color;
    &__header {
        margin: 0 auto;
        text-align: center;
    }
    &__content {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr;
    }
    &__text {
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
        padding-right: 30px;
        text-align: justify;
        &-title {
            color: #fff;
        }
        &-describe {
            margin-top: 40px;
            color: #fff;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: #00ff00;
            color: #fff;
            cursor: pointer;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            }
        &-info {
            color: #fff;
        }
        &-link {
            color: #fff;
        }
        &-icon {
            height: 50%;
            width: 50%;
        }
    }
    &__photo {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}