.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background: url('../../img/bg.jpg') center (center/cover) no-repeat;
    &__header {
        margin: 0 auto;
    }
    &__block {
        &-text {
            color: #fff;
        }
    }
}