@media (max-width: 992px) {
    .container {
        width: 700px;
    }

    .type {
        &__blocks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    .about {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__photo  {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .mobile {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .footer {
        padding-bottom: 70px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 376px;
    }
    .type__blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 414px) {
    .about {
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__contacts {
            margin-top: 50px;
            gap: 90px;
        }
    }
}

@media (max-width: 412px) {
    .about {
        &__text {
            padding-left: 30px;
        }
        &__contacts {
            gap: 70px;
        }
    }
}

@media (max-width: 390px) {
    .about {
        &__text {
            padding-left: 30px;
        }
        &__contacts {
            gap: 70px;
        }
    }
}