.mobile {
    display: none;
    background-color: $crep-color;
    width: 100vw;
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        max-width: 100%;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        transition: 0.5s;
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
    }
    &__icon {
        position: relative;
        display: block;
        min-width: 55px;
        height: 55px;
        line-height: 60px;
        transition: 0.5s;
        border-radius: 10px;
        font-size: 1.75rem;
        color: #222;
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--clr);
            filter: blur(8px);
            opacity: 0;
            transition: 0.5s;
        }
    }
}

.mobile__active {
    transform: translateY(-30px);
    .mobile__icon {
        color: #fff;
        background-color: $red-color;
        &::before {
            opacity: 0.5;
        }
    }
}