.sidebar {
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    background-color: $brown-color;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &__toggle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #fff;
            transform: translateY(-8px);
            transition: 0.5s;
        }
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #fff;
            transform: translateY(8px);
            transition: 0.5s;
            box-shadow: 0 -8px 0 #fff;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    &__item {
        list-style: none;
        position: relative;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        transition: 0.5s;
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
    }
    &__icon {
        position: relative;
        display: block;
        min-width: 55px;
        height: 55px;
        line-height: 60px;
        transition: 0.5s;
        border-radius: 10px;
        font-size: 1.75rem;
        color: #fff;
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--clr);
            filter: blur(8px);
            opacity: 0;
            transition: 0.5s;
        }
    }
    &__text {
        position: relative;
        padding: 0 15px;
        height: 60px;
        display: flex;
        align-items: center;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
}
.open {
    width: 300px;
    .sidebar__toggle::before {
        transform: translateY(0px) rotate(45deg);
    }
    .sidebar__toggle::after {
        transform: translateY(0px) rotate(-45deg);
        box-shadow: 0 0 0 #333;
    }
    .sidebar__item {
        transform: translateX(10px);
    }
    .sidebar__text {
        opacity: 1;
        visibility: visible;
    }
}
.active {
    transform: translateX(30px);
    .sidebar__icon {
        color: #fff;
        background-color: $red-color;
        &::before {
            opacity: 0.5;
        }
    }
    .sidebar__text {
        color: $red-color;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.o__active {
    display: block;
}