.type {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $black-color;
    &__header {
        margin: 0 auto;
        text-align: center;
    }
    &__blocks {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        position: relative;
        &:hover {
            .type__block-part-1 {
                transform: translateY(0);
                background-color: $red-color;
            }
            .type__block-part-2 {
                transform: translateY(0);
            }
            .type__block-title {
                margin: 10px 0 0;
                padding: 0;
                color: $black-color;
                text-align: center;
                font-size: 1.5rem;
            }
        }
        &-part {
            width: 300px;
            height: 200px;
            transition: 0.5s;
        }
        &-part {
            &-1 {
                position: relative;
                background-color: $crep-color;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
            }
            &-2 {
                position: relative;
                background-color: $crep-color;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
                transform: translateY(-100px);
            }
        }
        &-text {
            margin: 0;
            padding: 0;
        }
    }
}